<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.twopicode.hamlet" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission android:name="com.twopicode.hamlet.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.twopicode.hamlet.permission.C2D_MESSAGE" />

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!--<receiver-->
            <!--android:name="com.twopicode.hamlet.gcm.GcmBroadcastReceiver"-->
            <!--android:permission="com.google.android.c2dm.permission.SEND" >-->
            <!--<intent-filter>-->
                <!--&lt;!&ndash; Receives the actual messages. &ndash;&gt;-->
                <!--<action android:name="com.google.android.c2dm.intent.RECEIVE" />-->
                <!--<category android:name="com.twopicode.hamlet" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->
        <!--<service android:name="com.twopicode.hamlet.gcm.GcmIntentService" />-->

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.twopicode.hamlet" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.twopicode.hamlet.gcm.MyGcmListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
            </intent-filter>
        </service>

        <service
            android:name="com.twopicode.hamlet.gcm.MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID"/>
            </intent-filter>
        </service>

        <service android:name="com.twopicode.hamlet.gcm.RegistrationIntentService"
            android:exported="false" />

        <activity android:name=".activities.LoginActivity"
            android:label="@string/app_name" />

        <activity android:name=".activities.SettingsActivity"
            android:label="@string/settings_activity_title"/>

        <activity android:name=".activities.LaunchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".activities.SearchActivity"
            android:label="" >
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>
        </activity>

    </application>

</manifest>